.header-container {
  background-color: rgb(249 248 248);
  display: flex;
  justify-content: space-around;
}

.header-box-left {
  display: flex;
  flex-direction: row;
}

.header-box-right {
  display: flex;
  flex-direction: row;
}

.header-box__container-burger {
  width: 60px;
  display: flex;
  justify-content: center;
}

.header-box__navigation-user {
  width: 60px;
  display: flex;
  display: flex;
  justify-content: center;
}

.header-box__navigation-search {
  width: 60px;
  display: flex;
  justify-content: center;
  background-color: rgb(187 184 182);
}
.header-box__navigation-cart {
  width: 60px;
  display: flex;
  justify-content: center;
}
.header-box__navigation-quantity {
  width: 60px;
  display: flex;
  justify-content: center;
  background-color: rgb(236 101 95);
}

.search-icon,
.cart-icon,
.user-icon,
.burger {
  display: flex;
  width: 30px;
  padding: 0;
  align-self: center;
  justify-self: center;
}

.products-number {
  font-size: 30px;
  text-align: center;

  color: white;
  margin: 0px;
}

.footer {
  display: flex;
  background-color: rgb(236 101 95);
  color: white;
  justify-content: center;
}

.footer p {
  display: flex;
  align-content: center;
  margin: 0;
  height: 60px;
  align-items: center;
}

.store-elements {
  display: flex;
  background-color: rgb(232 230 229);
  flex-wrap: wrap;
  color: rgb(99 96 92);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
}

.store-elements h3 {
  font-size: 17px;
  text-align: center;
}
.store-elements p {
  font-size: 14px;
  text-align: center;
}

.container__card-delivery {
  display: flex;
  border: none;

  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-image_delivery,
.card-image_repayment {
  max-width: 60%;
  margin: 8px;
}

.container__card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image_timing {
  max-width: 40%;
  margin: 17px;
}

.card-image_devolutions {
  max-width: 50%;
  margin: 2px;
}

.container__card-timing {
  display: flex;
  border: none;

  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.container__card-devolutions {
  display: flex;
  border: none;

  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.container__card-repayment {
  display: flex;
  border: none;

  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.store-elements-info {
  display: flex;
}

.store-elements__group {
  display: flex;
  flex-wrap: nowrap;
}

.form-container__containt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.form-container__containt h4,
.social-media h4 {
  font-size: 15px;
}

.input-area-text,
.form-container__button {
  height: 40px;
  width: 325px;
  border: 1px solid black;
  margin: 5px;
}

.form-container__button,
.button-main {
  background-color: rgb(230 98 92);
  border: none;
  color: white;
  font-weight: bold;
}

.button-main {
  height: 50px;
  width: 120px;
  font-weight: 500;
  margin-top: 50px;
}

.upper-bar-newsletter,
.lower-bar-newsletter {
  width: 325px;
  border: 1px solid rgb(70, 68, 64);
  margin: 50px auto;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media__icons__list {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0px;
}

.about-us__icons__list {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.about-us__icons__list h4 {
  font-size: 13px;
  color: rgb(236 102 98);

  margin: 5px 10px 10px 15px;
}

.about-us__icons__list li {
  display: flex;
  flex-direction: column;
}

/* -------------ADAM SECTION -------------------*/
.article-box.container {
  background-color: white;
}

.cake-icon {
  width: 90px;
  z-index: 1; /*----pending to move ------*/
  top: -50px;
}

.cake-box {
  margin-top: 40px;
  z-index: 0;
}

main img {
  width: 325px;
}

.heading1 {
  display: flex;
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.main.main__articles.col-12 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
}
.main.main__heading.col-12 {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-box.row {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main-row.col-12 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
}

.card-text {
  margin-bottom: 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 50%;
  height: 50%;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
}

.image-container-1,
.image-container-2,
.image-container-3 {
  position: relative;
  margin-bottom: 10px;
}

.image-container-1 {
  margin-top: 70px;
}

.main__articles .heading1 {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.heading2 {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.logo-icon-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.upper-bar,
.lower-bar {
  width: 150px;
  border: 1px solid rgb(70, 68, 64);
  display: flex;
  margin: 0 auto;
}

.upper-bar {
  margin-top: 50px;
}
