body {
  font-family: "Source Sans Pro", sans-serif;
}

a:link,
a:visited,
a:active,
a {
  text-decoration: none;
  color: black;
}

.image-1,
.image-2,
.image-3 {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.image-1:hover,
.image-2:hover,
.image-3:hover {
  width: 300px;
  opacity: 0.8;
}
.brands-container-box {
  display: none;
}
.header-container {
  background-color: rgb(249 248 248);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}

.header-box-left {
  display: flex;
  flex-direction: row;
}

.button-main--brands {
  visibility: hidden;
}

.header-box-right {
  display: flex;
  flex-direction: row;
}

.header-box__container-burger {
  width: 60px;
  display: flex;
  justify-content: center;
}

.header-box__navigation-user {
  width: 60px;
  display: flex;
  justify-content: center;
}

.header-box__navigation-search {
  width: 60px;
  display: flex;
  justify-content: center;
  background-color: rgb(187 184 182);
}
.header-box__navigation-cart {
  width: 60px;
  display: flex;
  justify-content: center;
}
.header-box__navigation-quantity {
  width: 60px;
  display: flex;
  justify-content: center;
  background-color: rgb(236 101 95);
}

.search-icon,
.cart-icon,
.user-icon,
.burger {
  display: flex;
  width: 30px;
  padding: 0;
  align-self: center;
  justify-self: center;
  transition-duration: 0.6s;
}
.user-icon:hover,
.cart-icon:hover,
.search-icon:hover,
.burger:hover {
  transform: scale(1.5);
}

.products-number {
  font-size: 30px;
  text-align: center;

  color: white;
  margin: 0px;
}

.footer {
  display: flex;
  background-color: rgb(236 101 95);
  color: white;
  justify-content: center;
}

.footer p {
  display: flex;
  align-content: center;
  margin: 0;
  height: 60px;
  align-items: center;
}

.store-elements {
  display: flex;
  background-color: rgb(232 230 229);
  flex-wrap: wrap;
  color: rgb(99 96 92);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
}

.store-elements h3 {
  font-size: 17px;
  text-align: center;
}
.store-elements p {
  font-size: 14px;
  text-align: center;
}

.container__card-delivery {
  display: flex;
  border: none;

  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-image_delivery,
.card-image_repayment {
  max-width: 60%;
  margin: 8px;
}

.container__card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image_timing {
  max-width: 40%;
  margin: 17px;
}

.card-image_devolutions {
  max-width: 50%;
  margin: 2px;
}

.container__card-timing {
  display: flex;
  border: none;

  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.container__card-devolutions {
  display: flex;
  border: none;

  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.container__card-repayment {
  display: flex;
  border: none;

  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.store-elements-info {
  display: flex;
}

.store-elements__group {
  display: flex;
  flex-wrap: nowrap;
}
.form-container__containt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.form-container__containt h4,
.social-media h4 {
  font-size: 15px;
}

.input-area-text,
.form-container__button {
  height: 40px;
  width: 325px;
  border: 1px solid black;
  margin: 5px;
}

.form-container__button,
.button-main {
  background-color: rgb(230, 98, 92);
  border: none;
  color: white;
  font-weight: bold;
}

.form-container__button:hover,
.button-main:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(230, 98, 92);
  font-weight: bold;
  border: 3px solid rgb(230, 98, 92);
}

.form-container__button:active,
.button-main:active {
  background-color: rgb(230, 98, 92);
  color: white;
  font-weight: bold;
  border: 3px solid rgb(148, 43, 37);
}

.button-main {
  height: 50px;
  width: 120px;
  font-weight: 500;
  margin-top: 50px;
}

.upper-bar-newsletter,
.lower-bar-newsletter {
  width: 325px;
  border: 1px solid rgb(70, 68, 64);
  margin: 50px auto;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media__icons__list {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0px;
}

.about-us__icons__list {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.about-us__icons__list h4 {
  font-size: 13px;
  color: rgb(236 102 98);

  margin: 5px 10px 10px 15px;
}

.about-us__icons__list li {
  display: flex;
  flex-direction: column;
}

/* -------------ADAM SECTION -------------------*/
.article-box.container {
  background-color: white;
}

.cake-icon {
  width: 90px;
  z-index: 1; /*----pending to move ------*/
  top: -50px;
}

.cake-box {
  margin-top: 40px;
  z-index: 0;
}

main img {
  width: 325px;
}

.heading1 {
  display: flex;
  text-align: justify;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.main.main__articles.col-12 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
}
.main.main__heading.col-12 {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-box.row {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main-row.col-12 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
}

.card-text {
  margin-bottom: 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 50%;
  height: 50%;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
}

.image-container-1,
.image-container-2,
.image-container-3 {
  position: relative;
  margin-bottom: 10px;
}

.image-container-1 {
  margin-top: 70px;
}

.main__articles .heading1 {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.heading2 {
  font-size: 16px;
  margin: 0;
  text-align: justify;
}

.logo-icon-box {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.upper-bar,
.lower-bar {
  width: 150px;
  border: 1px solid rgb(70, 68, 64);
  display: flex;
  margin: 0 auto;
}

.upper-bar {
  margin-top: 50px;
}

.header-responsive__menu {
  display: none;
}

/* MEDIA QUERIES */
.container {
  flex-direction: column;
}

.menu-bar {
  display: none;
}

@media (min-width: 600px) {
  .header-responsive__menu {
    display: block;
    position: absolute;
  }
  .container {
    min-width: 100% !important;
  }

  .container-responsive.d-flex {
    padding: 0;
  }

  .menu-elements {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .menu-elements__image-2:hover,
  .menu-elements__image-3:hover {
    height: 150px;
    width: 30px;
    position: relative;
    z-index: 1;
  }

  .header-responsive__menu {
    display: row;
    justify-content: flex-start;
    z-index: 7;
  }

  .menu-elements__image-1 img {
    background-color: rgb(237, 101, 95);
    width: 60px;
  }

  .menu-elements__image-1:hover,
  .menu-elements__image-2:hover,
  .menu-elements__image-3:hover {
    width: 60px;
    height: 60px;
    z-index: 1;
    position: relative;
  }

  .menu-elements__image-1__space {
    width: 70px;
    height: 140px;
    background-color: rgb(237, 101, 95);
  }

  .menu-elements__image-2__space {
    background-color: rgb(109 152 173);
    height: 60px;
    width: 60px;
  }

  .menu-elements__image-3__space {
    background-color: rgb(237, 182, 81);
    height: 60px;
    width: 60px;
  }

  .menu-elements__image-2__space:hover {
    height: 120px;
    width: 60px;
    z-index: 0;
  }
  .menu-elements__image-3__space:hover {
    height: 120px;
    width: 60px;
    z-index: 0;
  }
  

  .header-responsive__menu__elements {
    height: 300px;
    z-index: 1;
    position: fixed;
  }
  .header-box__container-burger {
    display: none;
  }

  .logo-rojo {
    display: none;
  }

  .logo-icon-box {
    padding-left: 100px;
    margin-top: 150px;
    display: flex;
    justify-content: flex-start;
  }
  

  .main-header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .brands-container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }

  .brands-container-box_logos {
    margin: 0;
    width: 760px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .brands-container-box_logos img {
    width: 100px;
    margin: 5px;
    filter: grayscale(100%);
  }
  .brands-container-box_logos img:hover {
    filter: grayscale(0%);
  }

  .brands-container-box h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 2px;
    margin-bottom: 50px;
  }

  .button-main--brands {
    visibility: visible;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  .search-container p {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 5px;
  }

  .search-bar {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
  }
  .menu-bar {
    display: block;
  }

  .search-icon-container {
    background-color: rgb(186, 184, 182);
    width: 60px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }


  .search-icon-container__icon {
    width: 30px;
  } 

  .search-icon-container:hover {
    background-color: rgb(122, 122, 122);
  }
  
  .search-icon-container__icon{
    width: 30px; 

  }

  .input-search-bar {
    border-radius: 0;
    border: 1px solid rgb(186, 184, 182);
    width: 245px;
  }

  .menu-bar-section-logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .menu-bar-section-logos a div img {
    width: 50px;
  }

  .menu-bar-section-logos a div {
  }

  .news-search-bar a,
  .offer-search-bar a{
    height: 30px;
    width: 130px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    align-items: center;
  }

  .offer-search-bar {
    background-color: rgb(138, 121, 154);
  }

  .news-search-bar {
    background-color: rgb(162, 168, 90);
  }

  .menu-bar-section-logos a div{

    width: 100px;
    height: 100px;
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }

  .menu-bar-section-logos .blog div{
    margin-left: 40px;
    background-color: rgb(237, 101, 95);
    margin-right: 0;
  }


  .menu-bar-section-logos a h2 {
    font-size: 16px;
  } 

  .menu-bar-section-logos a h2{
    font-size: 12px;
    text-align: center;
  }



  

  .images-box-responsive {
    display: flex;
    width: 760px;

    align-items: flex-end;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
  }

  .images-box-left,
  .images-box-right {
    margin: 5px;

    display: flex;
    flex-direction: column;
  }

  .images-box-left img {
    width: 480px;
  }
  .images-box-right img {
    width: 300px;
    height: 337px;
    object-fit: none;
  }

  .images-box-right img {
    height: 414px;
    content: url(images/pompones.png);
  }

  .card-text--responsive {
    height: 100px;
  }

  .image-container-1 {
    display: flex;
    justify-content: flex-end;
  }

  .store-elements container {
    display: flex;
    flex-direction: row;
  }

  .container-info-send {
    display: flex;
  }


  .store-elements {
    display: flex;
    flex-direction: row;
    margin: 100px 0px;
    align-items: flex-end;
  }
  .store-elements__group {
    align-items: flex-end;
  }
  .container__card-delivery {
    justify-content: flex-end;
  }
  /* section adam*/
}



